.serviceReviewsPage {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;

    .serviceReviewsPageTitle {
        font-size: 2.8vw;
        font-weight: 900;
        line-height: 10vh;
        margin: 1vw;
        color: var(--color-background);
        z-index: 10;
        position: absolute;
        top: 24vh;
        // right: 2vw;
    }

    .reviewsSection {
        position: absolute;
        width: 45vw;
        // right: 0vw;
        bottom: 17vh;
        z-index: 10;

        .mySwiper2 {
            display: none;
        }

        .swiper-wrapper {
            // width: 20vw;
            height: 48vh;
        }

        .swiper-button-prev {
            position: absolute;
            left: 0;
            bottom: 0;
        }

        .swiper {
            width: 100%;
            // padding-top: 70px;
            // padding-bottom: 50px;
            margin-top: 10vh;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 30vw;
            height: 30vh;
            // max-width: 100%;
            height: auto;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
        }

    }

    .bgBox {
        position: absolute;
        bottom: 15vh;
        width: 0vw;
        height: 60vh;
        background-color: var(--color-font-main);
        opacity: 0;
        transition: all 1s ease;

        .bgLineBox {
            position: absolute;

            .bgLineGold1 {
                position: absolute;
                left: 21vw;
                width: 2vw;
                height: 60vh;
                background-color: var(--color-font-point);
            }

            .bgLineNavy1 {
                position: absolute;
                left: 18vw;
                width: 2vw;
                height: 60vh;
                background-color: var(--color-background);
                opacity: 0.7;
            }

            .bgLineGold2 {
                position: absolute;
                left: 15vw;
                width: 2vw;
                height: 60vh;
                background-color: var(--color-font-point);
            }

            .bgLineNavy2 {
                position: absolute;
                left: 12vw;
                width: 2vw;
                height: 60vh;
                background-color: var(--color-background);
                opacity: 0.7;
            }

            .bgLineGold3 {
                position: absolute;
                left: 9vw;
                width: 2vw;
                height: 60vh;
                background-color: var(--color-font-point);
            }

            .bgLineNavy3 {
                position: absolute;
                left: 6vw;
                width: 2vw;
                height: 60vh;
                background-color: var(--color-background);
                opacity: 0.7;
            }
        }
    }

    .bgBox.show {
        width: 100vw;
        opacity: 1;
    }
}

/* 1024px */
@media screen and (max-width: 1024px) {
    .serviceReviewsPage .serviceReviewsPageTitle {
        // top: 20vh;
    }

    .serviceReviewsPage .reviewsSection {
        // width: 70vw;
    }

    .serviceReviewsPage .bgBox {
        // bottom: 10vh;

        .bgLineBox {
            .bgLineGold1 {
                left: 18vw;
            }

            .bgLineNavy1 {
                left: 15vw;
            }

            .bgLineGold2 {
                left: 12vw;
            }

            .bgLineNavy2 {
                left: 9vw;
            }

            .bgLineGold3 {
                left: 6vw;
            }

            .bgLineNavy3 {
                left: 3vw;
            }
        }
    }
}

/* 480px */
@media only screen and (max-width: 480px) {
    .serviceReviewsPage .serviceReviewsPageTitle {
        top: 20vh;
        font-size: 3.6vw;
    }

    .serviceReviewsPage .reviewsSection {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        height: 45vh;
        gap: 20px;
        margin-top: 0vh;
        margin-left: 0vw;
        position: absolute;
        bottom: 24vh;
        left: 17vw;

        .mySwiper {
            padding: 0;
            margin: 0;
        }

        .mySwiper2 {
            display: block;
            padding: 0;
            margin: 0;
        }

        .swiper-slide {
            width: 100%;
            height: auto;
        }
    }

    .serviceReviewsPage .bgBox {
        height: 65vh;

        .bgLineBox {
            .bgLineGold1 {
                height: 65vh;
            }

            .bgLineNavy1 {
                height: 65vh;

            }

            .bgLineGold2 {
                height: 65vh;

            }

            .bgLineNavy2 {
                height: 65vh;

            }

            .bgLineGold3 {
                height: 65vh;

            }

            .bgLineNavy3 {
                height: 65vh;

            }
        }
    }
}