.serviceNumberPage {
    position: relative;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .serviceNumberPageTitle {
        font-size: 3rem;
        font-weight: 900;
    }

    .serviceNumberPageSubTitle {
        font-size: 1rem;
        font-weight: 900;
        margin: 3vh 0;
        margin-bottom: 8vh;
    }

    .numberSection {
        align-items: center;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;

        .numberDescTxt {
            font-size: 1.5rem;
        }

        .number {
            font-size: 3rem;
            font-weight: bold;

        }
    }
}