.serviceMainPage {
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .headingSection {
        position: absolute;
        right: 0;
        text-align: right;
        width: 60vw;

        .heading {
            font-size: 5vw;
            font-weight: 900;
            line-height: 10vh;
        }
    }

    Button {
        position: absolute;
        left: 10vw;
        bottom: 20vh;
        transform: scale(1.3);

        &:hover {
            pointer-events: auto;
        }
    }

    .downloadSection {
        position: absolute;
        right: 0;
        bottom: 20vh;
        display: flex;
    }

    @media only screen and (max-width: 320px) {
        .headingSection {
            width: 80vw;

            .heading {
                font-size: 7vw;
            }
        }

        Button {
            left: 5vw;
            bottom: 15vh;
            transform: scale(1);
        }

        .downloadSection {
            flex-direction: column;
            align-items: flex-end;
        }
    }

    @media only screen and (max-width: 480px) {
        .headingSection {
            width: 80vw;

            .heading {
                font-size: 7vw;
            }
        }

        Button {
            left: 5vw;
            bottom: 15vh;
            transform: scale(1);
        }

        .downloadSection {
            flex-direction: column;
            align-items: flex-end;
        }
    }

    @media only screen and (min-width: 481px) and (max-width: 1023px) {
        .headingSection {
            width: 45vw;

            .heading {
                font-size: 3vw;
            }
        }

        Button {
            left: 8vw;
            bottom: 12vh;
            transform: scale(1.2);
        }

        .downloadSection {
            flex-direction: column;
            align-items: flex-end;
        }
    }

    // @media only screen and (min-width: 1024px) {
    //     .headingSection {
    //         width: 30vw;

    //         .heading {
    //             font-size: 2vw;
    //         }
    //     }

    //     Button {
    //         left: 8vw;
    //         bottom: 10vh;
    //         transform: scale(1.2);
    //     }

    //     .downloadSection {
    //         flex-direction: row;
    //         align-items: center;
    //     }
    // }
}