.section:nth-child(1) {
    background-image: url('./assets/images/bgImages/tailor\ table.jpg');
    position: relative;
}

.section:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.6);
}

.section {
    background-color: var(--color-background);
}

.section:nth-child(3) {
    background-color: var(--color-font-main);
    color: var(--color-background);
}

.section:last-child {
    background-color: white;
    color: black;
}

.Navigation {
    right: 0 !important;

    .Navigation-Anchor {
        margin: 40px 0 !important;
        margin-right: 5vw !important;
        background-color: var(--color-font-point) !important;
    }

    .Navigation-Anchor:nth-child(1) {
        display: none !important;
    }

    .Navigation-Anchor:last-child {
        display: none !important;
    }
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 767px) {
    .section:nth-child(1) {
        background-image: url('./assets/images/bgImages/tailor\ table.jpg');
        position: relative;
    }

    .section:nth-child(1)::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .section {
        background-color: var(--color-background);
    }

    .section:nth-child(3) {
        background-color: var(--color-font-main);
        color: var(--color-background);
    }

    .section:last-child {
        background-color: white;
        color: black;
    }

    .Navigation {
        right: 0 !important;

        .Navigation-Anchor {
            margin: 40px 0 !important;
            margin-right: 5vw !important;
            background-color: var(--color-font-point) !important;
            padding: 2.5px !important;
        }

        .Navigation-Anchor:nth-child(1) {
            display: none !important;
        }

        .Navigation-Anchor:last-child {
            display: none !important;
        }
    }
}